#light_box_container {
	height:600px;
	width:600px;
	display:inline-block;
	position:absolute;
	left: 400px;
	padding:none;
	border-top:1px solid black;
	}
	
.unit {
	display:inline-block;
	float:left;
	padding:0;
	margin:0;
	border-bottom:1px solid black; 
	border-left: 1px solid black;
	position:relative;
	}
.right-border {
	border-right:1px solid black;
	}
	
#option_menu {
	height:200px;
	width: 300px;
	background-color:#F0F0F0;
	display:inline-block;
	float:right;
	right:200px;
	position:relative;
	text-align:center;
	}

		
p{
	font-size:22px;
	}
	//*{border:1px solid red}
